.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-content {
  display: flex;
  align-items: center;
}

.menu-content img {
  display: flex;

}

.menu img {
  width: 50px;
  margin-right: 10px;
}
.nome h2 {
    color: var(--verde-escuro);
}

button {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

button:hover {
  background-color: darkorange;
}
