@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#root {
  --branco: #FFFFFF;
  --verde-escuro: #2A5922;
  --verde-claro: #318522;
  --azul: #002782;
  --preto: #000000;
  --marrom: #513D18;
  --laranja: #F46E00;
  --cinza: #494949;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Kanit", sans-serif;
  font-style: normal;
}
